.container {
    margin-top: .5em;
    width: 412px;
    height: 260px;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    border-color: var(--primaria-leandro);
}

.container img {
    width: 100%;
    height: 250px;
}
