.campo {
    margin: 24px 0;
}

.campo label {
    display: block;
    font-size: 1rem;
    color: var(--cinza-claro);
    font-family: var(--fonte-padrao);
    background-color: var(--cinza-preto);
    text-align: start;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.campo input {
    background: var(--cinza-preto);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    padding: 24px;
    box-sizing: border-box;
}

.campo-color input {
    height: 40px;
    padding: 2px 1rem;
}